<header class="header-container">
    <h1 class="messages-title">DT Customs Messages</h1>
    <div class="logout-button">
        <a ng-click="logoutFunc()" class="waves-effect waves-light btn" style="background-color: #F9651F;
">logout</a>
    </div>
</header>



<ul ng-repeat="form in messages">

    <li style="border-bottom: 1px solid black;">
        <p>{{form.name}}</p>
        <p>{{form.phone}}</p>
        <p>{{form.email}}</p>
        <p>{{form.business}}</p>
        <p>{{form.message}}</p>
    </li>

</ul>