html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/*Navbar*/

#header-container {
    background-color: #284F63;
    text-align: center;
}

.navbar-container {
    text-align: center;
    color: white;
    margin-bottom: 0;
}

.nav-wrapper {
    background-color: #284F63;
    height: 200px;
    padding-left: 35%;
    font-weight: bolder;
    font-size: 4rem;
}

nav .nav-wrapper {
    position: relative;
    height: 200px;
    text-align: center;
}

.nav-buttons {
    cursor: pointer;
    color: white;
    overflow: hidden;
    font-size: 25px;
}


/*Homepage*/


/*.parallax {
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: 1;
    
}*/

#whoarewe-block {
    width: 100%;
    height: 500px;
    background-color: #284F63;
    text-align: center;
    font-size: 30px;
    padding-top: 1px;
}

#header-text1 {
    font-size: 8rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
    z-index: 3;
    position: relative;
    font-family: Yellowtail;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    padding-top: 100px;
}

#header-text2 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
    z-index: 3;
    position: relative;
    font-family: Yellowtail;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

#whoweare-title {
    color: white;
    padding-top: 50px;
}

#whoweare-body1 {
    color: white;
    font-size: 25px;
}

#whoweare-body2 {
    color: white;
    font-size: 25px;
}

#whoweare-body3 {
    color: white;
    font-size: 25px;
}

#whatwedo-title {
    text-align: center;
}

.whatwedo {
    width: 100%;
    height: 800px;
    background-color: #284F63;
    text-align: center;
    padding: 50px;
}

i.icon-black {
    color: #000000;
}

.icon-text {
    font-weight: bold;
}

#contact-title {
    color: white;
    padding-top: 50px;
}


/*Contact Form*/

  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #284F63;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
   
   .row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
    color: black;
}

.row .col.s12 {
    color: black;
}

#submit-button {
    padding-bottom: 20px;
    padding-left: 20px;
}