html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/*Global*/
/*body {
    margin: 0 auto;
}*/

/*Navbar*/
/*nav-wrapper {
    
}*/

/*Homepage*/
parallax-container {
    width: 100%;
}

#whoarewe-block {
    width: 100%;
    height: 100px;
    background-color: #284F63;
}