html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/*Navbar*/

#header-container {
    background-color: #284F63;
    text-align: center;
}

.navbar-container {
    text-align: center;
    color: white;
    margin-bottom: 0;
}

.nav-wrapper {
    background-color: #284F63;
    height: 200px;
    padding-left: 35%;
    font-weight: bolder;
    font-size: 4rem;
}

nav .nav-wrapper {
    position: relative;
    height: 200px;
    text-align: center;
}

.waves-effect {
    margin-bottom: 10px;
}

.navbar-link .waves-effect {
    color: white;
    font-size: 25px;
}

.navbar-container .row {
    margin-bottom: 0px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.navbarFix {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: rgba(40, 79, 99, 0.5);
    padding-top: 10px;
    z-index: 99;
}


/*Footer*/
.ng-scope .page-footer {
    background-color: #AF3F00;
    margin-top: 0;
}


/*Homepage*/
#whoarewe-block {
    width: 100%;
    height: 500px;
    background-color: #284F63;
    text-align: center;
    font-size: 30px;
    padding-top: 1px;
}

#header-text1 {
    font-size: 8rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
    z-index: 3;
    position: relative;
    font-family: Yellowtail;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    padding-top: 100px;
}

#header-text2 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
    z-index: 3;
    position: relative;
    font-family: Yellowtail;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

#whoweare-title {
    color: white;
    padding-top: 50px;
}

#whoweare-body1 {
    color: white;
    font-size: 25px;
}

#whoweare-body2 {
    color: white;
    font-size: 25px;
}

#whoweare-body3 {
    color: white;
    font-size: 25px;
}

#whatwedo-title {
    text-align: center;
}

.whatwedo {
    width: 100%;
    height: 800px;
    background-color: #284F63;
    text-align: center;
    padding: 50px;
}

i.icon-black {
    color: #000000;
}

.icon-text {
    font-weight: bold;
}

#contact-title {
    color: white;
    padding-top: 50px;
}


/*Contact Form*/
.social {
    position: relative;
    float: right;
}

.contact-title {
    position: absolute;
}

#submit-button {
    padding-bottom: 20px;
    padding-left: 20px;
}


/*Auth*/
.login-box {
    width: 300px;
    height: 350px;
    background-color: #21A643;
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-form {
    padding-top: 20px;
}

.login-button {
    background-color: black;
}


/*Admin*/

.logout-button {
    float: right;
    padding-right: 25px;
    
    /*position: relative;*/
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: blue;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}


/*What we do*/
.tint-view {
    display: flex;
    justify-content: center;
}

.material-boxed {
    padding-right: 20px;
}
