<div class="login-box">
    
    <div class="login-page">
        
        <div class="form">

                <div class="container">
                    <form class="login-form">
                        <input ng-model="username" type="text" placeholder="username" />
                        <input ng-model="password" type="password" placeholder="password" />
                        <a ng-click="login()" class="waves-effect waves-light btn">login</a>
                    </form>
                </div>
            
        </div>
    </div>
</div>